<div class="py-5">
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-lg-4">
        <div class="card py-2 text-center">
          <h4 class="card-title display">Views</h4>
          <div class="card-body">24, 000 </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card py-2 text-center">
          <h4 class="card-title display">Favorites</h4>
          <div class="card-body">30 Favorites</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card py-2 text-center">
          <h4 class="card-title display">Hi</h4>
          <div class="card-body">hi</div>
        </div>
      </div>
    </div>
  </div>
</div>
