.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  z-index: 999;
}

.myAlert{
  position: fixed;
  bottom: 5px;
  right:2%;
  width: 20%;
}
