<!--<div class="py-5">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 text-center">-->
        <!--<p class="h3"> Products: </p>-->
      <!--</div>-->
      <!--<div class="col-md-6 text-center">-->
        <!--<p class="h2 text-primary"> {{posts?.length}}</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="py-3">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <h3 class="card-title"> Products Pages</h3>
            <div class="card-text py-2">
              <span class="display-4 text-primary">{{posts?.length}}</span>
              <h5 class="align-middle">Products</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row justify-content-center py-3" *ngFor="let card of posts; let i = index">
    <div class="col-md-6">
      <app-product-card [post]="card"></app-product-card>
    </div>
  </div>
</div>
