<div *ngIf="post" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h4 class="display-4">{{post?.name}}</h4>
      <p class="lead"> {{post?.description }}</p>
      <span *ngIf="company" class="text-muted float-right">
      <a [routerLink]="['/company', post.companyId]">
              By {{company.name}}
      </a>
    </span>
    </div>
  </div>
  <div class="py-5 text-white bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-md-left text-center align-self-center my-5">
          <h1 class="display-1">Video Intro</h1>
          <p class="lead">What does a video do?</p>
          <a href="#" class="btn btn-lg btn-primary mx-1">Follow</a>
        </div>
        <div class="col-md-5 flex-column align-self-center">
          <div *ngIf="post?.video" class="embed-responsive embed-responsive-4by3 align-self-center">
            <video oncontextmenu="return false;" controls controlsList="nodownload">
              <source [src]="post?.video">
              <p>Your browser does not support the video tag. Please update your current browser or use another browser.</p>

            </video>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Contents -->

<div *ngIf="post?.story" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div [innerHTML]="post?.story"></div>
      </div>
    </div>
  </div>
</div>

